.overlay {
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.98);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.overlay a {
  padding: 1rem;
  text-decoration: none;
  font-size: 36px;
  color: #959191;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #ffffff;
  transform: scale(1.2);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  z-index: 2;
}

.hamburger {
  position: fixed;
  padding: 0.5rem;
  top: 1rem;
  z-index: 3;
}
.hamburger svg {
  border: 1px dashed rgb(43, 41, 41);
  color: rgb(51, 48, 48);
  padding: 5px;
}
.closeBtn path {
  stroke: rgb(200, 200, 200);
}

@media (min-width: 786px) {
  .overlay a {
    margin: 2rem;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #959191;
    display: block;
    transition: 0.3s;
  }
  .overlay-content {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .nav-icons {
    display: flex;
  }
  .nav-icons:hover {
    transform: scale(1vmax);
  }
}

@media (max-width: 786px) {
  .overlay a {
    margin: 2rem;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #959191;
    display: block;
    transition: 0.3s;
  }
  .overlay-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .nav-icons {
    display: flex;
  }
}
